  .heading
  {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px lightblue;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px rgb(117, 35, 16);
    float: none;
    padding: 11px;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .copy_right_footer
 {
  position: fixed;
  color: black;
  bottom: 0;
  width: 100%;
  background-color: white;
  line-height: 2;
  text-align: center;
 }

 canvas{
  border: 9px solid black;
  border-radius:21px;
  box-shadow: 10px 10px 10px white;
  margin-top:9px;
 }